# Stock capital gain calculation
## First in First out law (FIFO)

### - Import libraries

In [75]:
import pandas as pd
import numpy as np

### - read excel files

In [8]:
df = pd.read_excel("tax_2022.xlsx", sheet_name="Sheet2")
df.head()

,2020-2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Code,Company,Date,Type,Quantity,Unit Price ($),Trade Value ($),Brokerage+GST ($),GST ($),Contract Note,Total Value ($)
1,MQG,MACQUARIE GROUP LTD FPO (ORDINARY FULLY PAID),14/09/2020,Buy,41,119.98,4919.18,19.95,1.81,106153936,4939.13
2,MQG,MACQUARIE GROUP LTD FPO (ORDINARY FULLY PAID),12/01/2021,Sell,-41,139.4,-5715.4,19.95,1.81,111737304,-5695.45
3,OSH,OIL SEARCH LTD FPO 10T (10 TOEA ORDINARY FULLY...,14/07/2020,Buy,305,2.95,899.75,10,0.91,102947053,909.75
4,OSH,OIL SEARCH LTD FPO 10T (10 TOEA ORDINARY FULLY...,10/11/2020,Sell,-305,3.24,-988.2,10,0.91,108921274,-978.2

### Extract required data

In [9]:
df_1 = pd.read_excel("tax_2022.xlsx", sheet_name="Sheet2", skiprows=1, nrows=9)
df_1.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_1['Unit Value ($)'] = df_1['Total Value ($)'] / df_1['Quantity']
df_1

  Code        Date  Type  Quantity  Total Value ($)  Unit Value ($)
0  MQG  14/09/2020   Buy        41          4939.13      120.466585
1  MQG  12/01/2021  Sell       -41         -5695.45      138.913415
2  OSH  14/07/2020   Buy       305           909.75        2.982787
3  OSH  10/11/2020  Sell      -305          -978.20        3.207213
4  OSH  10/11/2020  Sell      -308          -981.76        3.187532
5  OSH  13/11/2020   Buy       275           995.88        3.621382
6  OSH  12/01/2021  Sell      -746         -3120.71        4.183257
7  OSH  19/01/2021   Buy       886          3918.35        4.422517
8  OSH  11/06/2021  Sell      -700         -2815.05        4.021500

In [10]:
df_2= pd.read_excel("tax_2022.xlsx", sheet_name="Sheet2", skiprows=12, nrows=4)
df_2.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_2['Unit Value ($)'] = df_2['Total Value ($)'] / df_2['Quantity']
df_2

  Code        Date Type  Quantity  Total Value ($)  Unit Value ($)
0  OSH  22/04/2020  Buy       230           570.05        2.478478
1  OSH  01/05/2020  Buy       200           590.00        2.950000
2  OSH  29/05/2020  Buy       200           690.00        3.450000
3  OSH  12/06/2020  Buy       149           509.15        3.417114

In [11]:
df_3= pd.read_excel("tax_2022.xlsx", sheet_name="Sheet2", skiprows=19, nrows=1)
df_3.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_3['Unit Value ($)'] = df_3['Total Value ($)'] / df_3['Quantity']
df_3

  Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0  OSH 2021-09-14  Sell      -186          -717.26        3.856237

In [12]:
df_4= pd.read_excel("tax_2022.xlsx", sheet_name="Sheet2", skiprows=24, nrows=3)
df_4.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_4['Unit Value ($)'] = df_4['Total Value ($)'] / df_4['Quantity']
df_4

   Code        Date Type  Quantity  Total Value ($)  Unit Value ($)
0  ETHI  11/06/2020  Buy        51           549.23       10.769216
1   SYI  18/05/2020  Buy        22           490.40       22.290909
2   SYI  25/05/2020  Buy        30           686.90       22.896667

In [13]:
df_5= pd.read_excel("tax_2022.xlsx", sheet_name="Sheet2", skiprows=30, nrows=17)
df_5.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_5['Unit Value ($)'] = df_5['Total Value ($)'] / df_5['Quantity']
df_5

    Code        Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   ETHI  04/06/2021   Buy        83           994.68       11.984096
1   ETHI  09/06/2021   Buy        83           998.00       12.024096
2   ETHI  18/06/2021   Buy        80           993.20       12.415000
3   ETHI  23/06/2021   Buy        80           997.16       12.464500
4    IOZ  14/04/2021   Buy        34           980.52       28.838824
5    IOZ  10/05/2021   Buy        34           999.90       29.408824
6    IOZ  18/06/2021   Buy        32           974.48       30.452500
7    NDQ  28/10/2020   Buy        55          1476.40       26.843636
8    NDQ  13/11/2020   Buy        47          1278.13       27.194255
9    NDQ  29/12/2020   Buy        20           561.60       28.080000
10   NDQ  14/01/2021   Buy       179          4986.16       27.855642
11   NDQ  23/02/2021   Buy        19           530.58       27.925263
12   NDQ  01/03/2021   Buy         8           224.16       28.020000
13   NDQ  22/03/2021   Buy        17           473.41       27.847647
14   NDQ  07/05/2021   Buy        34           989.02       29.088824
15   NDQ  25/05/2021   Buy        20           586.00       29.300000
16   SYI  07/06/2021  Sell       -52         -1533.53       29.490962

In [14]:
df_6= pd.read_excel("tax_2022.xlsx", sheet_name="Sheet2", skiprows=50, nrows=21)
df_6.drop(columns=['Company', 'Unit Price ($)', 'Trade Value ($)', 'Brokerage+GST ($)', 'GST ($)', 'Contract Note'], inplace=True)
df_6['Unit Value ($)'] = df_6['Total Value ($)'] / df_6['Quantity']
df_6

    Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   ETHI 2021-07-20   Buy        82           998.30       12.174390
1   ETHI 2021-09-21  Sell      -459         -5751.22       12.529891
2   ETHI 2021-10-04   Buy       803          9993.20       12.444832
3   ETHI 2021-10-28   Buy       239          2998.26       12.545021
4   ETHI 2022-04-14  Sell       -86          -993.88       11.556744
5   ETHI 2022-04-20  Sell       -86          -993.88       11.556744
6    IOZ 2021-07-29  Sell      -100         -3028.93       30.289300
7    NDQ 2021-07-02   Buy        26           809.82       31.146923
8    NDQ 2021-07-29   Buy        30           975.50       32.516667
9    NDQ 2021-07-30   Buy        31           996.17       32.134516
10   NDQ 2021-08-03   Buy        61          1982.80       32.504918
11   NDQ 2021-09-14   Buy       154          5169.32       33.567013
12   NDQ 2021-09-21  Sell      -701        -23145.61       33.017989
13   NDQ 2021-10-04   Buy       306          9974.09       32.595065
14   NDQ 2021-11-23   Buy        27           978.32       36.234074
15   NDQ 2021-11-23   Buy        55          1993.33       36.242364
16   NDQ 2021-12-01   Buy        54          1965.21       36.392778
17   NDQ 2022-01-06   Buy        34          1190.00       35.000000
18   NDQ 2022-02-15   Buy        31           992.14       32.004516
19   NDQ 2022-05-02   Buy        34           994.46       29.248824

## Concatenate 2020-2022 Data

In [15]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6], axis=0) # Concatenate 2020 - 2023 data into a table
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True) # Date : String to datetime format
df.sort_values(['Code', 'Date'], ascending=True, inplace=True) # Sorting multiple names [Code, Date]
df.reset_index(drop=True, inplace=True) # Reset index from 0
df

    Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   ETHI 2020-06-11   Buy        51           549.23       10.769216
1   ETHI 2021-06-04   Buy        83           994.68       11.984096
2   ETHI 2021-06-09   Buy        83           998.00       12.024096
3   ETHI 2021-06-18   Buy        80           993.20       12.415000
4   ETHI 2021-06-23   Buy        80           997.16       12.464500
5   ETHI 2021-07-20   Buy        82           998.30       12.174390
6   ETHI 2021-09-21  Sell      -459         -5751.22       12.529891
7   ETHI 2021-10-04   Buy       803          9993.20       12.444832
8   ETHI 2021-10-28   Buy       239          2998.26       12.545021
9   ETHI 2022-04-14  Sell       -86          -993.88       11.556744
10  ETHI 2022-04-20  Sell       -86          -993.88       11.556744
11   IOZ 2021-04-14   Buy        34           980.52       28.838824
12   IOZ 2021-05-10   Buy        34           999.90       29.408824
13   IOZ 2021-06-18   Buy        32           974.48       30.452500
14   IOZ 2021-07-29  Sell      -100         -3028.93       30.289300
15   MQG 2020-09-14   Buy        41          4939.13      120.466585
16   MQG 2021-01-12  Sell       -41         -5695.45      138.913415
17   NDQ 2020-10-28   Buy        55          1476.40       26.843636
18   NDQ 2020-11-13   Buy        47          1278.13       27.194255
19   NDQ 2020-12-29   Buy        20           561.60       28.080000
20   NDQ 2021-01-14   Buy       179          4986.16       27.855642
21   NDQ 2021-02-23   Buy        19           530.58       27.925263
22   NDQ 2021-03-01   Buy         8           224.16       28.020000
23   NDQ 2021-03-22   Buy        17           473.41       27.847647
24   NDQ 2021-05-07   Buy        34           989.02       29.088824
25   NDQ 2021-05-25   Buy        20           586.00       29.300000
26   NDQ 2021-07-02   Buy        26           809.82       31.146923
27   NDQ 2021-07-29   Buy        30           975.50       32.516667
28   NDQ 2021-07-30   Buy        31           996.17       32.134516
29   NDQ 2021-08-03   Buy        61          1982.80       32.504918
30   NDQ 2021-09-14   Buy       154          5169.32       33.567013
31   NDQ 2021-09-21  Sell      -701        -23145.61       33.017989
32   NDQ 2021-10-04   Buy       306          9974.09       32.595065
33   NDQ 2021-11-23   Buy        27           978.32       36.234074
34   NDQ 2021-11-23   Buy        55          1993.33       36.242364
35   NDQ 2021-12-01   Buy        54          1965.21       36.392778
36   NDQ 2022-01-06   Buy        34          1190.00       35.000000
37   NDQ 2022-02-15   Buy        31           992.14       32.004516
38   NDQ 2022-05-02   Buy        34           994.46       29.248824
39   OSH 2020-04-22   Buy       230           570.05        2.478478
40   OSH 2020-05-01   Buy       200           590.00        2.950000
41   OSH 2020-05-29   Buy       200           690.00        3.450000
42   OSH 2020-06-12   Buy       149           509.15        3.417114
43   OSH 2020-07-14   Buy       305           909.75        2.982787
44   OSH 2020-11-10  Sell      -305          -978.20        3.207213
45   OSH 2020-11-10  Sell      -308          -981.76        3.187532
46   OSH 2020-11-13   Buy       275           995.88        3.621382
47   OSH 2021-01-12  Sell      -746         -3120.71        4.183257
48   OSH 2021-01-19   Buy       886          3918.35        4.422517
49   OSH 2021-06-11  Sell      -700         -2815.05        4.021500
50   OSH 2021-09-14  Sell      -186          -717.26        3.856237
51   SYI 2020-05-18   Buy        22           490.40       22.290909
52   SYI 2020-05-25   Buy        30           686.90       22.896667
53   SYI 2021-06-07  Sell       -52         -1533.53       29.490962

## Capital Gain Calculator: FIFO

## Divide the dataframe by Stock Code

In [50]:
code = df['Code'].value_counts()
print("size: ", code.size, "index: ", code.index, "value: ", code.values)

size:  6 index:  Index(['NDQ', 'OSH', 'ETHI', 'IOZ', 'SYI', 'MQG'], dtype='object') value:  [22 12 11  4  3  2]

In [51]:
code.index[0]

'NDQ'

In [91]:
sum_df = []

for j in range(0, code.size):
    # Seperate dataframe by Code name
    mask_code = df['Code'] == code.index[j]
    df_mask = df[mask_code]
    df_mask.reset_index(drop=True, inplace=True)
    print("All Transactions for", code.index[j])
    print(df_mask)
    
    # Capital gain caluculation FIFO
    trans_list=list()
    for i in range(0, df_mask.shape[0]):
        trans = Trans(df_mask['Date'][i].date(), df_mask['Quantity'][i], df_mask['Unit Value ($)'][i])
        trans_list.append(trans)
    trans_result = balanceFifo(trans_list)
    df_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])

    # Filtering sold date for 2021-2022 Capital Gain
    mask_time = (df_capital['Date Sold'] > pd.to_datetime("2021-06-30")) & (df_capital['Date Sold'] < pd.to_datetime("2022-07-01"))
    df_filtered = df_capital[mask_time]
    print(df_capital)
    print(df_filtered)
    
    # Summation of capita gains (Total: any loses, discounts not included, Net: including loses or discounts)
    sum_total = np.sum(i for i in df_filtered['Capital Gain'] if i > 0)
    sum_net = np.sum(i for i in df_filtered['Capital Gain'])
    print("Total capital gain for", code.index[j], ": ", sum_total, "AUD")
    print("Net capital gain for", code.index[j], ": ", sum_net, "AUD")
    a = [code.index[j], sum_total, sum_net]
    sum_df.append(a)
    
summary = pd.DataFrame(sum_df, columns = ['Code', 'Total gain', 'Net gain'])
print(summary)
print("Total Capital Gain: ", summary['Total gain'].sum(), "AUD", "Net Capital Gain: ", summary['Net gain'].sum(), "AUD")

All Transactions for NDQ
   Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   NDQ 2020-10-28   Buy        55          1476.40       26.843636
1   NDQ 2020-11-13   Buy        47          1278.13       27.194255
2   NDQ 2020-12-29   Buy        20           561.60       28.080000
3   NDQ 2021-01-14   Buy       179          4986.16       27.855642
4   NDQ 2021-02-23   Buy        19           530.58       27.925263
5   NDQ 2021-03-01   Buy         8           224.16       28.020000
6   NDQ 2021-03-22   Buy        17           473.41       27.847647
7   NDQ 2021-05-07   Buy        34           989.02       29.088824
8   NDQ 2021-05-25   Buy        20           586.00       29.300000
9   NDQ 2021-07-02   Buy        26           809.82       31.146923
10  NDQ 2021-07-29   Buy        30           975.50       32.516667
11  NDQ 2021-07-30   Buy        31           996.17       32.134516
12  NDQ 2021-08-03   Buy        61          1982.80       32.504918
13  NDQ 2021-09-14   Buy       154          5169.32       33.567013
14  NDQ 2021-09-21  Sell      -701        -23145.61       33.017989
15  NDQ 2021-10-04   Buy       306          9974.09       32.595065
16  NDQ 2021-11-23   Buy        27           978.32       36.234074
17  NDQ 2021-11-23   Buy        55          1993.33       36.242364
18  NDQ 2021-12-01   Buy        54          1965.21       36.392778
19  NDQ 2022-01-06   Buy        34          1190.00       35.000000
20  NDQ 2022-02-15   Buy        31           992.14       32.004516
21  NDQ 2022-05-02   Buy        34           994.46       29.248824
   Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0      2020-10-28  2021-09-21      55.0  26.843636   33.017989    339.589372
1      2020-11-13  2021-09-21      47.0  27.194255   33.017989    273.715464
2      2020-12-29  2021-09-21      20.0  28.080000   33.017989     98.759772
3      2021-01-14  2021-09-21     179.0  27.855642   33.017989    924.059957
4      2021-02-23  2021-09-21      19.0  27.925263   33.017989     96.761783
5      2021-03-01  2021-09-21       8.0  28.020000   33.017989     39.983909
6      2021-03-22  2021-09-21      17.0  27.847647   33.017989     87.895806
7      2021-05-07  2021-09-21      34.0  29.088824   33.017989    133.591612
8      2021-05-25  2021-09-21      20.0  29.300000   33.017989     74.359772
9      2021-07-02  2021-09-21      26.0  31.146923   33.017989     48.647703
10     2021-07-29  2021-09-21      30.0  32.516667   33.017989     15.039658
11     2021-07-30  2021-09-21      31.0  32.134516   33.017989     27.387646
12     2021-08-03  2021-09-21      61.0  32.504918   33.017989     31.297304
13     2021-09-14  2021-09-21     154.0  33.567013   33.017989    -84.549757
   Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0      2020-10-28  2021-09-21      55.0  26.843636   33.017989    339.589372
1      2020-11-13  2021-09-21      47.0  27.194255   33.017989    273.715464
2      2020-12-29  2021-09-21      20.0  28.080000   33.017989     98.759772
3      2021-01-14  2021-09-21     179.0  27.855642   33.017989    924.059957
4      2021-02-23  2021-09-21      19.0  27.925263   33.017989     96.761783
5      2021-03-01  2021-09-21       8.0  28.020000   33.017989     39.983909
6      2021-03-22  2021-09-21      17.0  27.847647   33.017989     87.895806
7      2021-05-07  2021-09-21      34.0  29.088824   33.017989    133.591612
8      2021-05-25  2021-09-21      20.0  29.300000   33.017989     74.359772
9      2021-07-02  2021-09-21      26.0  31.146923   33.017989     48.647703
10     2021-07-29  2021-09-21      30.0  32.516667   33.017989     15.039658
11     2021-07-30  2021-09-21      31.0  32.134516   33.017989     27.387646
12     2021-08-03  2021-09-21      61.0  32.504918   33.017989     31.297304
13     2021-09-14  2021-09-21     154.0  33.567013   33.017989    -84.549757
Total capital gain for NDQ :  2191.089757489302 AUD
Net capital gain for NDQ :  2106.5400000000013 AUD
All Transactions for OSH
   Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   OSH 2020-04-22   Buy       230           570.05        2.478478
1   OSH 2020-05-01   Buy       200           590.00        2.950000
2   OSH 2020-05-29   Buy       200           690.00        3.450000
3   OSH 2020-06-12   Buy       149           509.15        3.417114
4   OSH 2020-07-14   Buy       305           909.75        2.982787
5   OSH 2020-11-10  Sell      -305          -978.20        3.207213
6   OSH 2020-11-10  Sell      -308          -981.76        3.187532
7   OSH 2020-11-13   Buy       275           995.88        3.621382
8   OSH 2021-01-12  Sell      -746         -3120.71        4.183257
9   OSH 2021-01-19   Buy       886          3918.35        4.422517
10  OSH 2021-06-11  Sell      -700         -2815.05        4.021500
11  OSH 2021-09-14  Sell      -186          -717.26        3.856237
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-04-22  2020-11-10     230.0   2.478478    3.207213    167.609016
1     2020-05-01  2020-11-10      75.0   2.950000    3.207213     19.290984
2     2020-05-01  2020-11-10     125.0   2.950000    3.187532     29.691558
3     2020-05-29  2020-11-10     183.0   3.450000    3.187532    -48.031558
4     2020-05-29  2021-01-12      17.0   3.450000    4.183257     12.465375
5     2020-06-12  2021-01-12     149.0   3.417114    4.183257    114.155349
6     2020-07-14  2021-01-12     305.0   2.982787    4.183257    366.143499
7     2020-11-13  2021-01-12     275.0   3.621382    4.183257    154.515777
8     2021-01-19  2021-06-11     700.0   4.422517    4.021500   -280.711851
9     2021-01-19  2021-09-14     186.0   4.422517    3.856237   -105.328149
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
9     2021-01-19  2021-09-14     186.0   4.422517    3.856237   -105.328149
Total capital gain for OSH :  0 AUD
Net capital gain for OSH :  -105.32814898419872 AUD
All Transactions for ETHI
    Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0   ETHI 2020-06-11   Buy        51           549.23       10.769216
1   ETHI 2021-06-04   Buy        83           994.68       11.984096
2   ETHI 2021-06-09   Buy        83           998.00       12.024096
3   ETHI 2021-06-18   Buy        80           993.20       12.415000
4   ETHI 2021-06-23   Buy        80           997.16       12.464500
5   ETHI 2021-07-20   Buy        82           998.30       12.174390
6   ETHI 2021-09-21  Sell      -459         -5751.22       12.529891
7   ETHI 2021-10-04   Buy       803          9993.20       12.444832
8   ETHI 2021-10-28   Buy       239          2998.26       12.545021
9   ETHI 2022-04-14  Sell       -86          -993.88       11.556744
10  ETHI 2022-04-20  Sell       -86          -993.88       11.556744
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-06-11  2021-09-21      51.0  10.769216   12.529891     89.794444
1     2021-06-04  2021-09-21      83.0  11.984096   12.529891     45.300959
2     2021-06-09  2021-09-21      83.0  12.024096   12.529891     41.980959
3     2021-06-18  2021-09-21      80.0  12.415000   12.529891      9.191285
4     2021-06-23  2021-09-21      80.0  12.464500   12.529891      5.231285
5     2021-07-20  2021-09-21      82.0  12.174390   12.529891     29.151068
6     2021-10-04  2022-04-14      86.0  12.444832   11.556744    -76.375542
7     2021-10-04  2022-04-20      86.0  12.444832   11.556744    -76.375542
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-06-11  2021-09-21      51.0  10.769216   12.529891     89.794444
1     2021-06-04  2021-09-21      83.0  11.984096   12.529891     45.300959
2     2021-06-09  2021-09-21      83.0  12.024096   12.529891     41.980959
3     2021-06-18  2021-09-21      80.0  12.415000   12.529891      9.191285
4     2021-06-23  2021-09-21      80.0  12.464500   12.529891      5.231285
5     2021-07-20  2021-09-21      82.0  12.174390   12.529891     29.151068
6     2021-10-04  2022-04-14      86.0  12.444832   11.556744    -76.375542
7     2021-10-04  2022-04-20      86.0  12.444832   11.556744    -76.375542
Total capital gain for ETHI :  220.65000000000046 AUD
Net capital gain for ETHI :  67.89891656288953 AUD
All Transactions for IOZ
  Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0  IOZ 2021-04-14   Buy        34           980.52       28.838824
1  IOZ 2021-05-10   Buy        34           999.90       29.408824
2  IOZ 2021-06-18   Buy        32           974.48       30.452500
3  IOZ 2021-07-29  Sell      -100         -3028.93       30.289300
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2021-04-14  2021-07-29      34.0  28.838824     30.2893       49.3162
1     2021-05-10  2021-07-29      34.0  29.408824     30.2893       29.9362
2     2021-06-18  2021-07-29      32.0  30.452500     30.2893       -5.2224
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2021-04-14  2021-07-29      34.0  28.838824     30.2893       49.3162
1     2021-05-10  2021-07-29      34.0  29.408824     30.2893       29.9362
2     2021-06-18  2021-07-29      32.0  30.452500     30.2893       -5.2224
Total capital gain for IOZ :  79.25239999999985 AUD
Net capital gain for IOZ :  74.02999999999975 AUD
All Transactions for SYI
  Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0  SYI 2020-05-18   Buy        22           490.40       22.290909
1  SYI 2020-05-25   Buy        30           686.90       22.896667
2  SYI 2021-06-07  Sell       -52         -1533.53       29.490962
  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-05-18  2021-06-07      22.0  22.290909   29.490962    158.401154
1     2020-05-25  2021-06-07      30.0  22.896667   29.490962    197.828846
Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []
Total capital gain for SYI :  0 AUD
Net capital gain for SYI :  0 AUD
All Transactions for MQG
  Code       Date  Type  Quantity  Total Value ($)  Unit Value ($)
0  MQG 2020-09-14   Buy        41          4939.13      120.466585
1  MQG 2021-01-12  Sell       -41         -5695.45      138.913415
  Date Purchased   Date Sold  Quantity   Buy Price  Sell Price  Capital Gain
0     2020-09-14  2021-01-12      41.0  120.466585  138.913415        756.32
Empty DataFrame
Columns: [Date Purchased, Date Sold, Quantity, Buy Price, Sell Price, Capital Gain]
Index: []
Total capital gain for MQG :  0 AUD
Net capital gain for MQG :  0 AUD
   Code   Total gain     Net gain
0   NDQ  2191.089757  2106.540000
1   OSH     0.000000  -105.328149
2  ETHI   220.650000    67.898917
3   IOZ    79.252400    74.030000
4   SYI     0.000000     0.000000
5   MQG     0.000000     0.000000
Total Capital Gain:  2490.9921574893024 AUD Net Capital Gain:  2143.140767578692 AUD

C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:26: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(i for i in df_filtered['Capital Gain'] if i > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:27: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(i for i in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:26: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(i for i in df_filtered['Capital Gain'] if i > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:27: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(i for i in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:26: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(i for i in df_filtered['Capital Gain'] if i > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:27: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(i for i in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:26: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(i for i in df_filtered['Capital Gain'] if i > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:27: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(i for i in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:26: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(i for i in df_filtered['Capital Gain'] if i > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:27: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(i for i in df_filtered['Capital Gain'])
C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:26: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_total = np.sum(i for i in df_filtered['Capital Gain'] if i > 0)
C:\Users\reals\AppData\Local\Temp\ipykernel_14656\1796434259.py:27: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  sum_net = np.sum(i for i in df_filtered['Capital Gain'])

## Gain caluculation

In [44]:
import logging
from collections import deque
import math

class Trans:
    datetime=None
    amount=None
    price=None
 
    def __init__(self, datetime, amount, price):
        self.datetime=datetime
        self.amount=amount
        self.price=price
     
    def getInfo(self):
        return(str(self.datetime)+"; "+
                str(self.amount)+"; "+
                str(self.price))+"; "
 
def balanceFifo(all_trans):
 
    qTransactions = deque() 
    trans_result = list()
 
    for t in all_trans:
        #Add first element to the queue
        if len(qTransactions)==0:
            #logging.debug('Added the first element: %s',t.getInfo())
            qTransactions.append(t)
            continue
 
        while (t.amount!=0 and len(qTransactions)>0):
            #investigate the first element from the queue
            tq=qTransactions.popleft()
            #the same type of transaction: both sell or both buy
            if tq.amount*t.amount>0:
                #return the first element back to the same place
                qTransactions.appendleft(tq)
                #add the new element to the list
                qTransactions.append(t)
                #logging.debug('Added: %s',t.getInfo())
                break
             
            #contrary transactions: (sell and buy) or (buy and sell) 
            if tq.amount*t.amount<0:
                #logging.debug('Transaction : %s',t.getInfo())
                #logging.debug('... try to balance with: %s',tq.getInfo())
 
                #The element in the queue have more units and takes in the current transaction
                if abs(tq.amount)>abs(t.amount):
                    result = insertTransaction(tq.datetime,t.datetime,\
                            math.copysign(t.amount,tq.amount), tq.price,t.price)
                    trans_result.append(result)
                    
                    #update the amount of the element in the queue
                    tq.amount=tq.amount+t.amount
                    #return the element back to the same place
                    qTransactions.appendleft(tq)
                    #logging.debug('Removed transaction: %s',t.getInfo())
                    #the transaction has been balanced, take a new transaction
                    break
                 
                #The element from the queue and transaction have the same amount of units
                if abs(tq.amount)==abs(t.amount):
                    result = insertTransaction(tq.datetime,t.datetime,\
                                math.copysign(t.amount,tq.amount), tq.price,t.price)
                    trans_result.append(result)
                    
                    #update the amount in the transaction 
                    t.amount=0
                    #logging.debug('Balanced, removed transaction: %s',t.getInfo())
                    #logging.debug('Balanced, removed from the queue: %s',tq.getInfo())
                    #the transaction has been balanced, take a new transaction
                    continue
                    
                #The transaction has more units
                if abs(tq.amount)<abs(t.amount):
                    #update the units in transaction, (remove element from the queue)
                    t.amount=t.amount+tq.amount
                    result = insertTransaction(tq.datetime,t.datetime,tq.amount,tq.price,t.price)
                    trans_result.append(result)
                    #logging.debug('Removed from queue: %s',tq.getInfo())
                     
                    #the transaction has not been balanced, 
                    #take a new element from the queue (t.amount>0)
                    continue
                 
        #We have unbalanced transaction but the queue is empty            
        if (t.amount!=0 and len(qTransactions)==0):
            #Add unbalanced transaction to the queue
            #The queue changes polarisation
            qTransactions.append(t)
            #logging.debug('Left element: %s',t.getInfo())
     
     
    #If something remained in the queue, treat it as open or part-open transactions
    while (len(qTransactions)>0):
        tq=qTransactions.popleft()
        #logging.debug('Remained on list transaction: %s',tq.getInfo())
        
    return trans_result
 
def insertTransaction(dateStart,dateEnd,amount,priceStart,priceEnd):
    #print("Bought={}, sold={},  amount={}, buy price={}, sell_price={}, gain={}".\
    #        format(dateStart,dateEnd,amount,priceStart,priceEnd, amount*(priceEnd-priceStart)))
    result = [dateStart,dateEnd,amount,priceStart,priceEnd, amount*(priceEnd-priceStart)]
    return result

### Gain Calculation for each Stock Code

In [20]:
trans_list=list()
for i in range(0, df1.shape[0]):
    trans = Trans(df1['Date'][i].date(), df1['Quantity'][i], df1['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df1_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df1_capital

  Date Purchased   Date Sold  Quantity   Buy Price  Sell Price  Capital Gain
0     2020-09-14  2021-01-12      41.0  120.466585  138.913415        756.32

In [21]:
print(df1['Code'][0], df1_capital['Capital Gain'].sum())

MQG 756.3199999999997

In [22]:
# 2021-2022 Capital Gain
mask = (df1_capital['Date Sold'] > pd.to_datetime("2021-06-30")) & (df1_capital['Date Sold'] < pd.to_datetime("2022-07-01"))
df1_filtered = df1_capital[mask]
df1_filtered
print(df1['Code'][0], df1_filtered['Capital Gain'].sum())

MQG 0.0

C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [23]:
trans_list=list()
for i in range(0, df2.shape[0]):
    trans = Trans(df2['Date'][i].date(), df2['Quantity'][i], df2['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df2_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df2_capital

  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-04-22  2020-11-10     230.0   2.478478    3.207213    167.609016
1     2020-05-01  2020-11-10      75.0   2.950000    3.207213     19.290984
2     2020-05-01  2020-11-10     125.0   2.950000    3.187532     29.691558
3     2020-05-29  2020-11-10     183.0   3.450000    3.187532    -48.031558
4     2020-05-29  2021-01-12      17.0   3.450000    4.183257     12.465375
5     2020-06-12  2021-01-12     149.0   3.417114    4.183257    114.155349
6     2020-07-14  2021-01-12     305.0   2.982787    4.183257    366.143499
7     2020-11-13  2021-01-12     275.0   3.621382    4.183257    154.515777
8     2021-01-19  2021-06-11     700.0   4.422517    4.021500   -280.711851
9     2021-01-19  2021-09-14     186.0   4.422517    3.856237   -105.328149

In [24]:
print(df2['Code'][0], df2_capital['Capital Gain'].sum())

OSH 429.8000000000003

In [25]:
# 2021-2022 Capital Gain
mask = (df2_capital['Date Sold'] > pd.to_datetime("2021-06-30")) & (df2_capital['Date Sold'] < pd.to_datetime("2022-07-01"))
mask
df2_filtered = df2_capital[mask]
print(df2['Code'][0], df2_filtered['Capital Gain'].sum())

OSH -105.32814898419872

C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [26]:
trans_list=list()
for i in range(0, df3.shape[0]):
    trans = Trans(df3['Date'][i].date(), df3['Quantity'][i], df3['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df3_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df3_capital

  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2021-04-14  2021-07-29      34.0  28.838824     30.2893       49.3162
1     2021-05-10  2021-07-29      34.0  29.408824     30.2893       29.9362
2     2021-06-18  2021-07-29      32.0  30.452500     30.2893       -5.2224

In [27]:
print(df3['Code'][0], df3_capital['Capital Gain'].sum())

IOZ 74.02999999999975

In [28]:
# 2021-2022 Capital Gain
mask = (df3_capital['Date Sold'] > pd.to_datetime("2021-06-30")) & (df3_capital['Date Sold'] < pd.to_datetime("2022-07-01"))
mask
df3_filtered = df3_capital[mask]
print(df3['Code'][0], df3_filtered['Capital Gain'].sum())

IOZ 74.02999999999975

C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [29]:
trans_list=list()
for i in range(0, df4.shape[0]):
    trans = Trans(df4['Date'][i].date(), df4['Quantity'][i], df4['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df4_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df4_capital

   Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0      2020-10-28  2021-09-21      55.0  26.843636   33.017989    339.589372
1      2020-11-13  2021-09-21      47.0  27.194255   33.017989    273.715464
2      2020-12-29  2021-09-21      20.0  28.080000   33.017989     98.759772
3      2021-01-14  2021-09-21     179.0  27.855642   33.017989    924.059957
4      2021-02-23  2021-09-21      19.0  27.925263   33.017989     96.761783
5      2021-03-01  2021-09-21       8.0  28.020000   33.017989     39.983909
6      2021-03-22  2021-09-21      17.0  27.847647   33.017989     87.895806
7      2021-05-07  2021-09-21      34.0  29.088824   33.017989    133.591612
8      2021-05-25  2021-09-21      20.0  29.300000   33.017989     74.359772
9      2021-07-02  2021-09-21      26.0  31.146923   33.017989     48.647703
10     2021-07-29  2021-09-21      30.0  32.516667   33.017989     15.039658
11     2021-07-30  2021-09-21      31.0  32.134516   33.017989     27.387646
12     2021-08-03  2021-09-21      61.0  32.504918   33.017989     31.297304
13     2021-09-14  2021-09-21     154.0  33.567013   33.017989    -84.549757

In [30]:
print(df4['Code'][0], df4_capital['Capital Gain'].sum())

NDQ 2106.5400000000013

In [31]:
# 2021-2022 Capital Gain
mask = (df4_capital['Date Sold'] > pd.to_datetime("2021-06-30")) & (df4_capital['Date Sold'] < pd.to_datetime("2022-07-01"))
mask
df4_filtered = df4_capital[mask]
print(df4['Code'][0], df4_filtered['Capital Gain'].sum())

NDQ 2106.5400000000013

C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [32]:
trans_list=list()
for i in range(0, df5.shape[0]):
    trans = Trans(df5['Date'][i].date(), df5['Quantity'][i], df5['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df5_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df5_capital

  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-05-18  2021-06-07      22.0  22.290909   29.490962    158.401154
1     2020-05-25  2021-06-07      30.0  22.896667   29.490962    197.828846

In [33]:
print(df5['Code'][0], df5_capital['Capital Gain'].sum())

SYI 356.23

In [34]:
# 2021-2022 Capital Gain
mask = (df5_capital['Date Sold'] > pd.to_datetime("2021-06-30")) & (df5_capital['Date Sold'] < pd.to_datetime("2022-07-01"))
mask
df5_filtered = df5_capital[mask]
print(df5['Code'][0], df5_filtered['Capital Gain'].sum())

SYI 0.0

C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [35]:
trans_list=list()
for i in range(0, df6.shape[0]):
    trans = Trans(df6['Date'][i].date(), df6['Quantity'][i], df6['Unit Value ($)'][i])
    trans_list.append(trans)
trans_result = balanceFifo(trans_list)
df6_capital = pd.DataFrame(trans_result, columns = ['Date Purchased', 'Date Sold', 'Quantity', 'Buy Price', 'Sell Price', 'Capital Gain'])
df6_capital

  Date Purchased   Date Sold  Quantity  Buy Price  Sell Price  Capital Gain
0     2020-06-11  2021-09-21      51.0  10.769216   12.529891     89.794444
1     2021-06-04  2021-09-21      83.0  11.984096   12.529891     45.300959
2     2021-06-09  2021-09-21      83.0  12.024096   12.529891     41.980959
3     2021-06-18  2021-09-21      80.0  12.415000   12.529891      9.191285
4     2021-06-23  2021-09-21      80.0  12.464500   12.529891      5.231285
5     2021-07-20  2021-09-21      82.0  12.174390   12.529891     29.151068
6     2021-10-04  2022-04-14      86.0  12.444832   11.556744    -76.375542
7     2021-10-04  2022-04-20      86.0  12.444832   11.556744    -76.375542

In [50]:
# Holding over 1 year gets deduction
df6_capital['Capital Gain'][0]/2

44.89722222222224

In [54]:
print(df6['Code'][0], df6_capital['Capital Gain'].sum())

ETHI 67.89891656288951

In [55]:
# 2021-2022 Capital Gain
mask = (df6_capital['Date Sold'] > pd.to_datetime("2021-06-30")) & (df6_capital['Date Sold'] < pd.to_datetime("2022-07-01"))
mask
df6_filtered = df6_capital[mask]
print(df6['Code'][0], df6_filtered['Capital Gain'].sum() - df6_capital['Capital Gain'][0]/2)

ETHI 23.00169434066727

C:\Users\reals\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [48]:
print("2021-2022 AU stock capital gain (Net AUD): ", df1_filtered['Capital Gain'].sum() + df2_filtered['Capital Gain'].sum() + df3_filtered['Capital Gain'].sum() + df4_filtered['Capital Gain'].sum() + df5_filtered['Capital Gain'].sum() + df6_filtered['Capital Gain'].sum() - df6_capital['Capital Gain'][0]/2)

2021-2022 AU stock capital gain (Net AUD):  2098.2435453564694

In [53]:
aaa = df1_filtered['Capital Gain'].sum() + df2_filtered['Capital Gain'].sum() + df3_filtered['Capital Gain'].sum() + df4_filtered['Capital Gain'].sum() + df5_filtered['Capital Gain'].sum() + df6_filtered['Capital Gain'].sum()
aaa = aaa - df6_capital['Capital Gain'][6] - df6_capital['Capital Gain'][7] - df4_capital['Capital Gain'][13] - df3_capital['Capital Gain'][2] - df2_capital['Capital Gain'][9]
print("2021-2022 AU stock capital gain (Total AUD): ", aaa)

2021-2022 AU stock capital gain (Total AUD):  2490.992157489302